:root{
    --white: #ffffff;
    --regularGrey: #dbdada;
    --black: #000000;
    --darkBlue: #273849;
    --darkPink: #EF426F;
    --vueGreen: #42b983;
    --yellow: #ffc107;
    --weight: 400;
    --radius: 5px;
}